# Devcontainer / VS Code Remote - we don't develop in a container
# Ignore devcontainer folder and any devcontainer json files
/.devcontainer/
/devcontainer.json
/devcontainer.jsonc

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Test artifacts
tmp/
*.backup

# IDE
.vscode/
.idea/
*.swp
*.swo
*~